{
  "printWidth": 300,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "all"
      }
    }
  ]
}
